/* @tailwind base; */
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
  --link-color: #3273dc;
  --code-background-color: #f5f5f5;
  --code-text-color: #f14668;
  --highlighted-background-color: #f5f5f5;
  --border-color: #dbdbdb;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

html {
  font-family: system-ui, "Segoe UI", Roboto, Helvetica, Arial, sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji";
}

body {
  margin: 0;
  padding: 0;
  border: 0;
  color: rgb(var(--foreground-rgb));
}

nav ul {
  margin: 0;
  padding: 0;
}

nav ul li {
  list-style: none;
}

a,
a code,
a .code {
  color: var(--link-color);
  text-decoration: none;
}

/* code mark > * {
  color: #9aa5ce;
} */

/* code, */
pre.code-content,
pre.code-content code {
  background: #323330;
  color: #9aa5ce;
  color: #f5aa9a;
}

mark {
  background-color: transparent;
  outline: 1px solid yellow;
  color: #f5d1f2;
}
mark:hover {
  background-color: yellow;
  color: #080916;
}

/* mark nesting level 2 */
mark mark {
  outline: 1px solid rgb(255, 208, 0);
}

mark mark:hover {
  background-color: rgb(255, 208, 0);
  color: #080916;
}

mark:has(mark:hover) {
  background-color: transparent !important;
  color: inherit !important;
}

/* mark nesting level 3 */
mark mark mark {
  outline: 1px solid rgb(255, 136, 0);
}

mark mark mark:hover {
  background-color: rgb(255, 136, 0);
  color: #080916;
}

/* mark nesting level 4 */
mark mark mark mark {
  outline: 1px solid rgb(255, 72, 0);
}

mark mark mark mark:hover {
  background-color: rgb(255, 72, 0);
  color: #080916;
}

code,
.code,
kbd,
pre,
samp {
  font-family: ui-monospace, SFMono-Regular, Consolas, "Liberation Mono", Menlo,
    monospace;
  font-size: 1em;
}

code,
.code {
  color: var(--code-text-color);
  background-color: var(--code-background-color);
}

code,
.code {
  padding: 0.25rem;
}

pre code {
  background-color: inherit;
}

pre code {
  padding: unset;
}

h1 {
  font-size: 3rem;
}

h4 {
  margin-block-start: 4rem;
  text-decoration: underline;
}

pre {
  background-color: var(--highlighted-background-color);
}

blockquote {
  background-color: var(--highlighted-background-color);
  border-left: 0.5rem solid var(--border-color);
}

pre,
blockquote {
  padding: 1rem 2rem;
  margin-right: 0;
  margin-left: 0;
}
